body{
  background:#020617;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

ul{
  list-style:none;
  padding:0;
  background:#0f172a;
  color:white;
  border-radius:12px;
  width:220px;
}

li{
  padding:12px;
  outline:none;
}

li:focus{
  background:#22c55e;
  color:#022c22;
}
